.cta-block-main{background: #0B1014;border-radius: 16px;padding: 100px 100px;margin: 100px 0;position: relative;}
.cta-block-main::after{content: "";background-image: url(../images/cta-round-image.svg);background-repeat: no-repeat;width: 421px;height: 421px;position: absolute;top: 0;right:0;}
.cta-block-main::before{content: "";background-image: url(../images/cta-half-round-image.svg);background-repeat: no-repeat;background-size: contain;width: 90px;height: 90px;position: absolute;bottom: 0;left: 0;}
.cta-block-main .cta-block-inner{display: flex;gap: 30px;justify-content: space-between;align-items: center;}
.cta-block-content{}
.cta-block-content .cta-block-heading{margin: 0 0 15px 0;color: #FFF;}
.cta-block-content .cta-block-description{margin: 0;color: rgba(255, 255, 255, 0.8);}
.cta-block-content .cta-block-buttons{}