.list-block-main{padding:100px 0;}
.list-block-main .list-block-inner{max-width:1060px;margin:0 auto;}
.list-block-main .list-block-title{margin:0 0 30px 0;}
.list-block-main .list-block-description{margin:0;}
.list-block-main .list-block-items{display:flex;flex-direction:column;gap:40px;margin:50px 0 0 0;padding:0;list-style:none;}
.list-block-main .list-block-item{display:flex;gap:30px;}
.list-block-main .list-block-item .list-block-icon{width:60px;flex-shrink:0;}
.list-block-main .list-block-item .list-block-icon img{width:100%;}
.list-block-main .list-block-item .list-block-item-title{margin:0 0 15px 0;}
.list-block-main .list-block-item .list-block-item-description{margin:0;}
@media only screen and (max-width:1024px){
    .list-block-main{padding:80px 0;}
	.list-block-main .list-block-title{margin:0 0 10px;}
	.list-block-main .list-block-items{gap:30px;margin:40px 0 0;}
	.list-block-main .list-block-item .list-block-icon{width:45px;}
	.list-block-main .list-block-item .list-block-item-title{margin:0 0 10px;}
    .list-block-main .list-block-item{flex-direction: column;gap: 15px;}
}
@media only screen and (max-width:767px){
    .list-block-main{padding:50px 0;}
	.list-block-main .list-block-title{margin:0 0 15px;}
	.list-block-main .list-block-items{gap:30px;margin:30px 0 0;flex-direction: column;}
	.list-block-main .list-block-item .list-block-icon{width:fit-content;}
    .list-block-main .list-block-item .list-block-item-title{margin:0 0 20px 0;}
    .list-block-main .list-block-item .list-block-icon img {height: 40px;}
}