@font-face{
    font-family: sen;
    font-style:normal;
    font-weight:400 800;
    font-display:swap;
    src:url('/fonts/Sen-VariableFont_wght.ttf') format('truetype');
    font-stretch:normal;
}


body {
    margin: 0;
	overflow-x: hidden;
	font-size: 18px;
	font-weight: 400;
	color: #303034;
	font-family: sen, sans-serif;
	letter-spacing: -0.02em;
}
.container{
    max-width: 1328px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
h1{
	font-size: 48px;
	line-height: 64px;
	font-weight: 600;
	font-family: sen, sans-serif;
	color: #0A0B0C;
	margin: 0;
	letter-spacing: -0.02em;
}
h2{
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
	font-family: sen, sans-serif;
	color: #0A0B0C;
	margin: 0 0 20px 0;
	letter-spacing: -0.02em;
}
h3{
	font-size: 24px;
    line-height: 28px;
	font-weight: 600;
	font-family: sen, sans-serif;
	color: #0A0B0C;
	margin: 0 0 10px 0;
	letter-spacing: -0.02em;
}
p{
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	font-family: sen, sans-serif;
	color: #303034;
	margin: 0 0 20px 0;
	letter-spacing: -0.02em;
}

